@import "func.scss";

.wrapper {
  background-color: $colors_background;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

/********************* login **********************/
.login-wrapper {
  @include flex_center();
}
.login-wrap {
  width: 1000px;
  margin: 0 auto;

  .ic-id {
    background: url(../assets/login_id_normal.svg) no-repeat 95% center;
    padding-right: 48px;
    &.error {
      border: 1px solid $red;
      background: $white url(../assets/c_ic_login_warning.svg) no-repeat 96% center;
    }
    &:disabled {
      background: url(../assets/login_id_disabled.svg) no-repeat 95% center;
      padding-right: 48px;
    }
  }

  .ic-pw {
    background: url(../assets/ic_login_passwoard_normal.svg) no-repeat 95% center;
    padding-right: 48px;
    &.error {
      border: 1px solid $red;
      background: $white url(../assets/c_ic_login_warning.svg) no-repeat 96% center;
    }
    &:disabled {
      background: url(../assets/ic_login_passwoard_disabled.svg) no-repeat 95% center;
      padding-right: 48px;
    }
  }
  /* X버튼 생성 텍스트 인풋 */
  .input-wrap {
    position: relative;

    .btn-clear {
      position: absolute;
      right: 16px;
      top: 12px;
      display: none;
    }
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    height: 48px;
    border: 1px solid $gray200;
    border-radius: 4px;
    background-color: $white;
    padding: 0 16px;
    padding-right: 48px;
    color: $font_color_80;

    &:hover {
      border: 1px solid $gray400;
    }
    &::placeholder {
      opacity: 1;
      color: $font_color_50;
    }
    &:focus {
      border: 1px solid $font_color;
    }

    &.error {
      border: 1px solid $red;
    }

    &:disabled {
      background-color: $gray100;
      border: 1px solid $gray200;
      color: $font_color_20;
    }
    &:disabled::placeholder {
      color: $font_color_20;
    }
  }

  input[type="checkbox"] {
    display: none;

    & + label {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $font_color;
      cursor: pointer;
    }
    & + label > .ico {
      background: url(../assets/ic_checkbox_default.svg) no-repeat center/cover;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
    }
    &:checked + label > .ico {
      background: url(../assets/ic_checkbox_selected.svg) no-repeat center/cover;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    &:checked:disabled + label > .ico {
      background: url(../assets/ic_checkbox_selected_disabled.svg) no-repeat center/cover;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    &:disabled + label > .ico {
      background: url(../assets/ic_checkbox_disabled.svg) no-repeat center/cover;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }

  select {
    appearance: none;

    cursor: pointer;
    font-size: 14px;
    letter-spacing: -0.35px;
    text-align: left;
    color: rgba(40, 42, 63, 0.83);

    text-overflow: ellipsis;

    background: url(../assets/ico-dropdown.png) no-repeat center right 10px;
    border-radius: 4px;
    border: solid 1px $colors_line;
    background-color: $white;
    padding: 0 16px;
    height: 38px;

    option {
      height: 35px;
      font-size: 14px;
      letter-spacing: -0.35px;
      color: rgba(20, 31, 64, 0.83);
      border: solid 1px $colors_line;
    }
  }

  .login-box {
    width: 1000px;
    height: 630px;
    border-radius: 14px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background-color: $white;
    display: flex;

    .login-main {
      width: 450px;
      padding: 102px 40px 88px 40px;
      text-align: center;

      img {
        padding: 0 49px;
        margin-bottom: 71px;
      }
      input {
        margin-bottom: 12px;
      }
      span {
        letter-spacing: -0.35px;
      }

      .prevention {
        display: flex;

        .pre-img {
          width: 180px;
          height: 50px;
          background-color: #000;
        }

        .pre-icon {
          margin: 0 10px 0 8px;
          flex-flow: column;
          display: flex;
        }

        .pre-input {
          width: 154px;
        }
      }

      .btn-ell-blue {
        margin-bottom: 20px;
        margin-top: 22px;
      }

      .login-option {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .checkbox {
          display: flex;
        }

        .new-account {
          color: $colors_font;
          text-decoration: underline;
        }

        .new-account::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          background: url(../assets/ic_arrow_hyperlink_right.svg) no-repeat center center/cover;
          margin-top: 3px;
        }
      }
    }

    .login-img {
      position: relative;

      .img-text {
        position: absolute;
        bottom: 110px;
        left: 100px;
        text-align: center;

        p:first-child {
          font-size: 24px;
          color: $white;
          font-weight: 500;
          margin-bottom: 12px;
        }

        p:last-child {
          font-size: 15px;
          color: $white;
        }
      }
    }
  }

  .login-footer {
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 28px;

      li {
        margin-right: 10px;
        font-size: 13px;
        color: $font_color;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          background-color: $gray300;
          margin-left: 10px;
          margin-top: 5px;
        }

        &:last-child:after {
          width: 0;
        }
      }
    }

    .address {
      color: $gray500;
      font-size: 13px;
      margin-top: 16px;
    }
  }
}

/********************* header **********************/

.container {
  width: 1600px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
  padding: 0 160px;
  background-color: $colors_main;

  @include space_between();

  .nav {
    display: flex;
    gap: 32px;
    li {
      a {
        font-size: 16px;
        color: $white;
      }
    }

    &-sub {
      @include flex_center;

      display: none;
      gap: 32px;

      position: absolute;
      top: 70px;
      left: 0;

      width: 100%;
      padding: 10px 0;
      background-color: $colors_font;
    }
  }

  .btn-wrap {
    @include flex_center();
    gap: 6px;
  }
}

/********************* main **********************/

.main {
  padding: 42px 0 28px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &-box {
    width: 100%;
    padding: 20px 33px 0px 32px;
    border-radius: 14px;
    background-color: $white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .favorite {
      display: flex;
      align-items: center;
      gap: 28px;

      padding: 28px 0;

      div {
        width: 120px;
        height: 120px;
        background: url(../assets/c_bg_favorite_add.svg) no-repeat center center/cover;
        font-size: 18px;
        font-weight: 500;
        color: $navy;

        @include flex_center();

        &.default {
          border: none;
          background: url(../assets/c_bg_favorite_default.svg) no-repeat center center/cover;
        }
      
      }
      &-box{
        cursor: pointer;
      }
    }

    .notice {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 16px 0 20px 0;

      &-box {
        width: 100%;
        padding: 16px 24px 12px;
        border-radius: 14px;
        background-color: $blue200;

        div {
          color: $font_color;
        }
      }
      &-tit {
        font-weight: bold;
        margin-bottom: 10px;
      }
      &-date {
        text-align: right;
        margin-top: 8px;
      }
    }

    .table {
      padding: 24px 0 10px 0;
      width: 100%;
      &-ach {
        td {
          &:first-child {
            text-align: left;
          }
        }
      }
      &-intro {
        td {
          &:first-child {
            text-align: left;
          }
        }
      }
    }

    .status {
      padding: 18px 0 20px 0;

      &-box {
        position: relative;
        width: 100%;
        height: 64px;
        border-radius: 14px;
        background-color: $blue200;

        @include flex_center;

        .btn-wrap {
          position: absolute;
          right: 24px;

          button {
            display: block;
          }
        }
      }

      &-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        font-size: 16px;
        font-weight: 500;
        color: $navy;
      }
    }
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    color: $navy;

    display: flex;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    &.sb {
      display: flex;
      justify-content: space-between;
    }
  }

  &-content {
    width: 100%;
    height: 50px;
    padding: 20px 32px 25px;
  }
}

/* modal */

.modal-favorite {
  width: 1360px;
  height: 760px;
  padding: 20px 32px 25px;
  background-color: $white;
  border-radius: 14px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  flex-flow: column;
  .modal-top {
    @include space_between;
  }
  &-cont {
    padding-bottom: 23px;
    height: 624px;
    overflow: overlay;
    margin-top: 32px;
  }
  &-tit {
    display: flex;
    gap: 32px;

    > li {
      &:nth-child(2) .favorite-label {
        width: 480px;
      }
      .favorite-label {
        // position: relative;
        @include flex_center;
        width: 240px;
        height: 30px;
        border-radius: 10px;
        background-color: $colors_box;
        font-size: 13px;
        font-weight: bold;
        color: $font_color;
      }
      .chk-sel-box {
        display: flex;
      }
    }
  }
  &-btn {
    @include flex_center;
    gap: 10px;
    padding-top: 24px ;
  }
}

/* 셀렉트 */
.selectBox {
  width: 300px;
  position: relative;

  &.disable .label {
    border: 1px solid $colors_line;
    color: $font_color_20;
    background: $gray100 url(../assets/ic_dropdown_arrow_down_disabled.svg) no-repeat 96% center;
    &:hover {
      border: 1px solid $colors_line;
    }
  }
  .label {
    width: 100%;
    text-align: left;
    border: 1px solid $colors_line;
    height: 38px;
    border-radius: 4px;
    padding: 0 48px 0 16px;
    color: $font_color_80;
    background: $white url(../assets/ic_dropdown_arrow_down_default.svg) no-repeat 96% center;
    @include text_overflow;

    &:hover {
      border: 1px solid $gray400;
    }
    &.active {
      border: 1px solid $navy;
    }
  }
  .optionList {
    width: 100%;
    border: 1px solid $navy;
    background-color: $white;
    border-radius: 4px;
    height: 190px;
    overflow-y: auto;
    position: absolute;
    top: 46px;
    display: none;

    @include scrollbar;

    .optionItem {
      padding: 8px 16px 10px 16px;
      @include text_overflow;
      &:hover {
        background-color: $colors_main_10;
        color: $colors_font;
        font-weight: 600;
      }
    }
  }
}

.chk-sel {
  .chk-box {
    li {
      width: 240px;
      height: 48px;
      padding: 14px 10px;
      font-size: 14px;
      font-weight: 500;
      color: $font_color;

      display: flex;
      align-items: center;
      gap: 10px;

      input[type="checkbox"]:checked + label {
        font-weight: bold;
      }
    }
  }

  .chk-label {
    width: 240px;
    height: 48px;
    padding: 14px 10px;
    font-size: 14px;
    font-weight: 500;
    color: $font_color;
    &::before {
      content: url(../assets/c_ic_dropdown_arrow_down_default.svg);
      margin-right: 10px;
      vertical-align: middle;
    }
  }
  &-ck {
    > li {
      width: 240px;
      height: 34px;
      padding-left: 40px;
      font-size: 12px;
      font-weight: normal;
      color: $black200;

      display: flex;
      align-items: center;
      gap: 10px;

      input[type="checkbox"]:checked + label {
        font-weight: 500;
      }
    }
  }
}
/* 버튼 */

.btn-rec-blue {
  height: 26px;
  padding: 0 8px;
  border-radius: 5px;
  background-color: $blue100;

  color: $white;
  font-size: 13px;

  @include flex_center();
}
.btn-rec-green {
  border-radius: 5px;
  border: solid 1px $green;
  background-color: $white;
  padding: 7px 10px 8px 12px;

  @include flex_center;
  gap: 9px;

  color: $green;
  font-size: 14px;
  font-weight: normal;
}
.btn-rec-agree {
  @include flex_center;
  width: 100px;
  height: 38px;
  border-radius: 4px;
  background-color: $colors_main;

  font-size: 14px;
  color: $white;
}
.btn-rec-line {
  @include flex_center;
  width: 100px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px $gray200;

  font-size: 14px;
  font-weight: normal;
  color: $black100;
}

.ell-blue {
  border-radius: 12px;
  background-color: $font_color;
  padding: 2px 8px;
  color: $white;
  font-size: 14px;
  font-weight: normal;
}
.btn-up {
  background: url(../assets/ic_dropdown_arrow_up_default.svg) no-repeat center;
  width: 20px;
  height: 20px;
}
.btn-down {
  background: url(../assets/ic_dropdown_arrow_down_default.svg) no-repeat center;
  width: 20px;
  height: 20px;
}
.btn-download {
  width: 20px;
  height: 20px;
  background: url(../assets/c_ic_list_download.svg) no-repeat center;
}

.btn-more {
  width: 24px;
  height: 24px;
  background: url(../assets/c_ic_title_arrow_right.svg) no-repeat center;
}
/* 공통 */
.w2 {
  width: 795px;
}

.table-wrap {
  width: 100%;
  table {
    width: 100%;
    thead {
      height: 30px;

      th {
        background-color: #f1f7ff;
        vertical-align: middle;
        font-size: 13px;
        font-weight: bold;
        color: $navy;

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $gray600;
        &:last-child {
          border-bottom: none;
        }
      }
      td {
        text-align: center;
        color: $navy;
        height: 40px;
        vertical-align: middle;

        &:first-child {
          padding: 0 20px;
        }
      }
    }
  }
}
